.project {
	.project-container {
	  padding: 10px;
	  margin-right: 0;
	  margin-left: 0;
	}
  
	.icon-column {
	  height: auto;
	  min-height: unset;
	  margin-bottom: 10px;
	  padding: 0;
	  text-align: center;
  
	  .project-icon {
		img, i {
		  border-radius: 8px;
		  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
		  margin-bottom: 5px;
		}
  
		img {
		  width: 100%;
		  max-width: 80px;
		  border: 0.5em transparent solid;
		  box-sizing: border-box;
		}
  
		i {
		  font-size: 3rem;
		  padding: 1rem;
		}
	  }
  
	  .project-title {
		h4 {
		  font-size: 14px;
		}
  
		h4, small, i {
		  border-radius: 4px;
		  padding: 4px 8px;
		}
	  }
	}
  }